<template>
  <div class="page page-bg-light">
    <page-header>
      <template>{{ kidsActivity.title }}</template>
    </page-header>
    <HeroImageCarousel
      v-if="!!kidsActivity.gallery"
      :path="kidsActivity.path"
      :images="kidsActivity.gallery"
    />
    <img
      v-else
      :src="require(`~/static/images` + `${kidsActivity.path}/${kidsActivity.image}`)"
      :alt="kidsActivity.alt"
      class="profileHero"
    />

    <b-tabs justified class="profileTabNav" align="center">
      <b-tab title="Information" active>
        <div class="container">
          <div v-if="kidsActivity.openingHoursTitle" class="profileInfoWrapper mt-3">
            <h5>{{ kidsActivity.openingHoursTitle }}</h5>
            <p class="mt-3">{{ kidsActivity.openingHoursDetails }}</p>
            <p>{{ kidsActivity.openingHoursDetailsTwo }}</p>
          </div>
          <div v-if="kidsActivity.offerTitle" class="profileOfferWrapper">
            <h4>{{ kidsActivity.offerTitle }}</h4>
            <div class="profileInfoSubText">{{ kidsActivity.offerDescription }}</div>
          </div>
          <div v-if="kidsActivity.deliveryOptionTitle" class="profileInfoWrapper">
            {{ kidsActivity.deliveryOptionTitle }}
            <div class="row">
              <div class="col-12">
                <div class="profileInfoSubHeading">{{ kidsActivity.deliveryfee }}</div>
                <div class="profileInfoSubText">{{ kidsActivity.deliveryDisclaimer }}</div>
              </div>
            </div>
          </div>
          <nuxt-content :document="kidsActivity" class="mt-3" />
        </div>
      </b-tab>
      <b-tab title="Contact" class="bg-white">
        <div class="container pt-3 bp-3">
          <div v-if="kidsActivity.addressTitle" class="profileInfoWrapper mt-3">
            <h5>{{ kidsActivity.addressTitle }}</h5>
            <p class="mt-3">{{ kidsActivity.addressDesc }}</p>
            <p>{{ kidsActivity.addressDescTwo }}</p>
          </div>
          <a v-if="kidsActivity.phone" :href="`tel:${kidsActivity.phone}`">
            <div class="ctaBtn">
              <b-icon-phone></b-icon-phone>CALL NOW
            </div>
          </a>
          <a
            v-if="kidsActivity.bookurl"
            :href="kidsActivity.bookurl"
            class="ctaBtn"
            target="_blank"
          >
            <b-icon-book></b-icon-book>BOOK NOW
          </a>
          <a
            v-if="kidsActivity.website"
            :href="kidsActivity.website"
            class="ctaBtn"
            target="_blank"
          >
            <div class="ctaBtn">
              <b-icon-globe></b-icon-globe>WEBSITE
            </div>
          </a>
          <a
            v-if="kidsActivity.email"
            :href="'mailto:' + kidsActivity.email"
            class="ctaBtn"
            target="_blank"
          >
            <div class="ctaBtn">
              <b-icon-envelope></b-icon-envelope>EMAIL US
            </div>
          </a>
          <div class="row mt-3">
            <div class="col-12 d-flex flex-row justify-content-around">
              <div class="col-4">
                <a v-if="kidsActivity.facebook" :href="kidsActivity.facebook" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-facebook></b-icon-facebook>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="kidsActivity.instagram" :href="kidsActivity.instagram" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-instagram></b-icon-instagram>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="kidsActivity.twitter" :href="kidsActivity.twitter" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-twitter></b-icon-twitter>
                  </div>
                </a>
              </div>
            </div>
            <!-- <pre>{{kidsActivity}}</pre> -->
          </div>
        </div>
      </b-tab>
    </b-tabs>

    <!-- <pre>{{ kidsActivity }}</pre> -->
  </div>
</template>

<script>
import PageHeader from '~/components/page-header.vue'
export default {
  components: { PageHeader },
  async asyncData({ $content, params }) {
    const kidsActivity = await $content('kidsActivities', params.slug).fetch()

    return { kidsActivity }
  },
  head() {
    return {
      title: this.kidsActivity.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.kidsActivity.description,
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.profileHero {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.profileInfoWrapper,
.profileOfferWrapper {
  padding: var(--space-md);
  border: 1px solid #fffffe;
  box-shadow: 0 0 12px var(--colour-grey-light);
  margin: var(--space-md) 0;
}
.profileInfoWrapper {
  background: var(--colour-light);
}
.profileOfferWrapper {
  background: var(--colour-grey);
  color: var(--colour-light);
}
.profileInfoWrapper h5,
.profileOfferWrapper h5 {
  text-transform: uppercase;
}
.nuxt-content-container {
  padding: var(--space-md);
  background: var(--colour-light);
}
.ctaBtn {
  width: 100%;
  padding: var(--space-md) 0;
  text-align: center;
  background: var(--colour-primary);
  color: var(--colour-light);
  margin: var(--space-md) 0;
}
.ctaBtn svg {
  margin-right: var(--space-md);
}
</style>
