summary {
  cursor: pointer;
  padding: 8px 0;
  position: relative;
  width: 100%;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] summary {
  background: var(--colour-primary);
  color: var(--colour-light);
}
summary::after {
  content: '+';
  color: var(--colour-primary);
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  margin: -5px 10px 0 0;
  text-align: center;
  width: 20px;
}
details[open] summary::after {
  content: '-';
  color: var(--colour-light);
}
.accordionButton {
  width: 100%;
  padding: 10px;
  list-style: none;
  background: var(--colour-light);
  border: 1px solid var(--colour-grey-light);
  text-transform: uppercase;
}
