@font-face {
  font-family: 'Roboto';
  src: url('~/static/fonts/Roboto-Light.woff2') format('woff2'), url('~/static/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/static/fonts/Roboto-Regular.woff2') format('woff2'), url('~/static/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/static/fonts/Roboto-Bold.woff2') format('woff2'), url('~/static/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('~/static/fonts/Oswald-Light.woff2') format('woff2'), url('~/static/fonts/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('~/static/fonts/Oswald-Regular.woff2') format('woff2'), url('~/static/fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('~/static/fonts/Oswald-Bold.woff2') format('woff2'), url('~/static/fonts/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --colour-primary: #77406f; /* 119, 64, 111 */
  --colour-primary-hover: #510a37;
  --colour-dark: #000;
  --colour-light: #fff;
  --colour-grey-light: #eaeaea;
  --colour-grey: #939393;
  --colour-grey-dark: #3c3c3c;
  --colour-primary-50: rgba(119, 64, 111,0.5);
  --colour-dark-50: rgba(0, 0, 0,0.5);
  --colour-light-50: rgba(255,255,255,0.6);
  --colour-grey-dark-50: rgba(60, 60, 60,0.5);
  --font-primary: 'Oswald';
  --font-secondary: 'Roboto';
  --font-space-sm: 0.04em;
  --font-space-md: 0.05em;
  --alpha: 0.6;
  --space-sm: 6px;
  --space-md: 15px;
  --space-lg: 50px;
  --space-xl: 100px;
  --header-padding: 10vh;
}

/* To minimise this file cd 'css/file/location', run - npx postcss global.css > min.global.css */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s ease;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-secondary);
}
* {
  box-sizing: border-box;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
  background: inherit;
}
.font-main {
  font-family: var(--font-primary);
  letter-spacing: var(--font-space-md);
}
.font-sub {
  font-family: var(--font-secondary);
  letter-spacing: var(--font-space-sm);
}
.page {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.page-fixed {
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: fixed;
  overflow-x: hidden;
}
.page-padding-top {
  padding-top: var(--header-padding);
}
.page-bg-light {
  background: var(--colour-grey-light);
}
.page-bg-dark {
  background: var(--colour-dark);
}
.button-primary, .button-secondary {
  font-family: var(--font-primary);
  font-size: 1.2em;
  padding: var(--space-md);
  margin: var(--space-md) 0;
}
.button-primary-half {
  font-family: var(--font-secondary);
  padding: var(--space-sm);
  margin: 7px 0;
  border-radius: 3px;
}
.button-primary,
.button-primary-half,
.button-secondary {
  color: var(--colour-light) !important;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: var(--font-space-md);
}
.button-primary,
.button-primary-half {
  background: var(--colour-primary);
}
.button-secondary {
  background: var(--colour-grey-dark);
}
.profileTabNav .nav-link {
  padding: var(--space-md) 0;
  background: var(--space-grey);
}
