<template>
  <a
    href="#"
    v-scroll-to="{
      el: '#top',
      duration: 2300,
      easing: 'linear',
      offset: -90,
    }"
  >
    <div class="button-primary-dark mt-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path
          d="M168.5 164.2l148 146.8c4.7 4.7 4.7 12.3 0 17l-19.8 19.8c-4.7 4.7-12.3 4.7-17 0L160 229.3 40.3 347.8c-4.7 4.7-12.3 4.7-17 0L3.5 328c-4.7-4.7-4.7-12.3 0-17l148-146.8c4.7-4.7 12.3-4.7 17 0z"
        />
      </svg>
      Back to Top
    </div>
  </a>
</template>

<script>
export default {}
</script>

<style scoped>
.button-primary-dark {
  background: black;
  color: white;
  padding: 12px;
}
.button-primary-dark svg {
  width: 30px;
  height: 30px;
  fill: var(--colour-light);
  margin-right: var(--space-md);
}
</style>
