<template>
  <div class="wrapper">
    <div class="accordion" @click="toggle">
      <h2 class="button-primary-half font-main">
        <slot name="title"></slot>
      </h2>
    </div>
    <div v-show="show" class="content">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      show: false,
    }
  },
  methods: {
    toggle() {
      this.show = !this.show
    },
  },
}
</script>

<style scoped>
/* Styles */
.button-primary-half {
  font-family: var(--font-primary);
  font-size: 1em;
}
.content {
  font-family: var(--font-secondary);
  background: var(--colour-light);
  padding: 15px;
}
</style>
