<template>
  <div class="heroImg d-flex justify-content-center align-items-center"></div>
</template>

<script>
export default {}
</script>

<style scoped>
.heroImg {
  width: 100%;
  height: 20vh;
  margin-top: 15px;
  background: url(~/static/images/hotel/file.jpg) center center no-repeat;
  background-size: cover;
}
</style>
