<template>
  <div class="fixed-footer"></div>
</template>

<script>
export default {}
</script>

<style scoped>
.fixed-footer {
  width: 100vw;
  height: 6vh;
  background: var(--colour-primary);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 0 12px var(--colour-grey-dark);
}
</style>
