<template>
  <div class="container">
    <button class="previous" @click="setImageIndex(-1)">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="angle-left"
        class="svg-inline--fa fa-angle-left fa-w-8"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 512"
      >
        <path
          fill="currentColor"
          d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"
        />
      </svg>
    </button>
    <img
      v-if="images.length > 0"
      :src="require(`~/static/images` + `${path}/${images[imageIndex]}`)"
      :alt="'Hero Image'"
      class="profileHero"
    />
    <button class="next" @click="setImageIndex(1)">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="angle-right"
        class="svg-inline--fa fa-angle-right fa-w-8"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 512"
      >
        <path
          fill="currentColor"
          d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
        />
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  name: 'Carrousel',
  props: {
    fallback: {
      type: String,
      default: () => '',
    },
    images: {
      type: Array,
      default: () => [],
    },
    path: {
      type: String,
      default: () => '',
    },
  },
  data() {
    return {
      imageIndex: 0,
    }
  },
  methods: {
    setImageIndex(value) {
      let index = this.imageIndex + value
      if (index >= this.images.length - 1) index = 0
      else if (index <= 0) index = this.images.length - 1
      this.imageIndex = index
    },
  },
}
</script>

<style>
.profileHero {
  width: 100vw;
  height: 30vh;
  padding: 0;
  margin: 0 0 0 -15px;
  object-fit: cover;
  object-position: center center;
  z-index: 0;
}
.container {
  position: relative;
  top: 0;
  left: 0;
}

button.previous,
button.next {
  width: 3rem;
  border: none;
  background-color: transparent;
  color: var(--colour-light-50);
  position: absolute;
  z-index: 10;
}
.previous {
  top: 5rem;
  left: 0;
}
.next {
  top: 5rem;
  right: 0;
}
</style>
