<template>
  <div class="hero-image mt-3"></div>
</template>

<script>
export default {}
</script>

<style scoped>
.hero-image {
  width: 100%;
  height: 20vh;
  background: url(/images/hotel/spa.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
</style>
