<template>
  <div class="header d-flex align-items-center">
    <div class="logo"></div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.header {
  width: 100vw;
  height: 20vh;
  background: var(--colour-dark);
}
.logo {
  width: 100%;
  height: 5vh;
  background: url(~/static/images/logo.svg) center center no-repeat;
  object-fit: contain;
}
</style>
