<template>
  <div class="loyaltyHero d-flex flex-column justify-content-center align-items-center">
    <h2>Elevate your next stay with these member exclusive offers.</h2>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
/* Styles */
.loyaltyHero {
  width: 100%;
  height: 250px;
  color: var(--colour-light);
  padding: var(--space-md);
  box-shadow: 1000px 1000px inset rgba(0, 0, 0, 0.4);
  background: url(@/static/images/hotel/explore.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
}
</style>
