<template>
  <div class="header">
    <div class="row m-0">
      <div class="col-2 p-0">
        <v-btn text :ripple="false" class="back-wrapper" name="back" @click="to">
          <div class="backBtn d-flex justify-content-end align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
              <path
                d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z"
              />
            </svg>
          </div>
        </v-btn>
      </div>
      <div class="col-8 p-0">
        <div class="page-title">
          <slot>{{ $nuxt.$route.path.replaceAll(`-`, ' ').replaceAll(`/`, ' ') }}</slot>
        </div>
      </div>
      <div class="col-2 p-0"></div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    to() {
      this.$router.go(-1)
    },
  },
}
</script>

<style scoped>
.header {
  width: 100vw;
  height: 10vh;
  background: var(--colour-primary);
  color: var(--colour-light);
  box-shadow: 0 0 12px var(--colour-grey-dark);
}
.page-title,
.backBtn {
  width: 100%;
  height: 10vh;
  font-size: 1.2em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-align: center;
}
.backBtn svg {
  width: 30px;
  height: 30px;
  fill: var(--colour-light);
}
.page-title {
  justify-content: center;
}
.back-wrapper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
</style>
