<template>
  <div class="page-footer"></div>
</template>

<script>
export default {}
</script>

<style scoped>
.page-footer {
  width: 100vw;
  height: 15vh;
  background: var(--colour-primary);
}
</style>
