<template>
  <div>
    <b-img src="~/static/images/map/map.jpg" alt="Map of the resort" height="700" />
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
/* Styles */
</style>