<template>
  <div>
    <vsa-list>
      <!-- Here you can use v-for to loop through items  -->
      <vsa-item>
        <vsa-heading>
          <slot name="title"></slot>
        </vsa-heading>

        <vsa-icon>
          <span class="open">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path
                d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
              />
            </svg>
          </span>
          <span class="close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path
                d="M168.5 164.2l148 146.8c4.7 4.7 4.7 12.3 0 17l-19.8 19.8c-4.7 4.7-12.3 4.7-17 0L160 229.3 40.3 347.8c-4.7 4.7-12.3 4.7-17 0L3.5 328c-4.7-4.7-4.7-12.3 0-17l148-146.8c4.7-4.7 12.3-4.7 17 0z"
              />
            </svg>
          </span>
        </vsa-icon>

        <vsa-content>
          <slot name="content"></slot>
        </vsa-content>
      </vsa-item>
    </vsa-list>
  </div>
</template>

<script>
import { VsaList, VsaItem, VsaHeading, VsaContent, VsaIcon } from 'vue-simple-accordion'
export default {
  components: {
    VsaList,
    VsaItem,
    VsaHeading,
    VsaContent,
    VsaIcon,
  },
}
</script>
<style>
/* Styles */
.vsa-item__trigger__icon .open {
  display: block;
}
.vsa-item--is-active .vsa-item__trigger__icon .open {
  display: none;
}
.vsa-item__trigger__icon .close {
  display: none;
}
.vsa-item--is-active .vsa-item__trigger__icon .close {
  display: block;
}
</style>
