<template>
  <div class="mt-3">
    <div class="welcomeHero d-flex flex-column justify-content-center align-items-center">
      <h5>Welcome to</h5>
      <svg
        id="logo-pullman-white"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 163.1 26.6"
        style="enable-background: new 0 0 163.1 26.6"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: #fff;
          }
        </style>
        <path
          id="Shape"
          class="st0"
          d="M72.8,9.4v-5h-1.6v5.1c0,0.9-0.3,1.7-1,2.4c-0.8,0.6-1.8,0.9-2.8,0.8c-1,0.1-2-0.2-2.8-0.8
	c-0.6-0.6-1-1.4-1-2.3V4.4H62v5c0,1.3,0.5,2.5,1.4,3.4c1.2,0.9,2.6,1.3,4,1.1c1.4,0.1,2.8-0.3,4-1.1C72.3,11.9,72.8,10.7,72.8,9.4"
        />
        <path id="Shape-2" class="st0" d="M82,0.1v13.6h1.6V0.1H82z" />
        <path id="Shape-3" class="st0" d="M92.8,0.1v13.6h1.6V0.1H92.8z" />
        <path
          id="Shape-4"
          class="st0"
          d="M112.4,5.9c-1-1.1-2.5-1.7-4-1.7c-1.3-0.1-2.6,0.3-3.7,1.1c-0.2,0.1-1.2,0.8-1.2,3v5.3h1.6V8.5
	c0-1.6,0.4-2,0.9-2.4c0.7-0.5,1.5-0.7,2.4-0.7c0.9,0,1.7,0.2,2.4,0.7c0.6,0.4,0.9,1.1,0.8,1.7v5.9h1.5V7.8c0-0.7,0.3-1.3,0.9-1.7
	c1.5-1,3.4-1,4.8,0c0.5,0.4,0.8,1.1,0.8,1.7v5.8h1.6V8.5c0-1.8-0.4-2.5-1.2-3.2c-1-0.8-2.3-1.2-3.6-1.1
	C114.9,4.2,113.4,4.8,112.4,5.9"
        />
        <path
          id="Shape-5"
          class="st0"
          d="M163.1,20V8.5c0-1.2-0.5-2.3-1.4-3.1c-1.1-0.9-2.6-1.3-4-1.2c-1.5-0.1-2.9,0.4-4,1.3
	c-0.9,0.7-1.4,1.8-1.3,2.9v5.3h1.6V8.1c0-0.8,0.4-1.5,1-1.9c1.7-1,3.9-1,5.6,0.1c0.6,0.5,1,1.2,1,2V20L163.1,20z"
        />
        <path
          id="Shape-6"
          class="st0"
          d="M50.2,11.7c-1.1,0.7-2.4,1.1-3.7,1c-1.7,0-4.9-1.2-4.9-3.4c0-1,0.4-2,1.1-2.7
	c1-0.9,2.4-1.3,3.7-1.3c1.3-0.1,2.6,0.3,3.7,1C51,7,51.5,8,51.5,9C51.5,10.1,51.1,11,50.2,11.7 M51.3,5.5c-1.4-1-3.1-1.4-4.8-1.3
	c-5.4,0-6.8,3-6.5,5.9V20h1.6v-7.8c1.4,1.1,3.1,1.7,4.9,1.7c1.7,0.1,3.4-0.4,4.8-1.3c2-1.4,2.4-4.1,1.1-6.1
	C52.1,6.2,51.7,5.8,51.3,5.5"
        />
        <path
          id="Shape-7"
          class="st0"
          d="M140.3,11.6c-1.1,0.7-2.3,1.1-3.5,1.1c-1.3,0.1-2.6-0.3-3.7-1c-0.8-0.6-1.3-1.6-1.3-2.6
	c0-1,0.4-2,1.3-2.6c1.1-0.7,2.4-1.1,3.7-1c1.4-0.1,2.7,0.3,3.7,1.2c0.8,0.8,1.2,1.8,1.1,2.9C141.5,10.4,141,11.2,140.3,11.6
	 M142.1,6.3c-1.5-1.4-3.4-2.2-5.4-2.1c-1.7-0.1-3.4,0.4-4.8,1.3c-1.1,0.8-1.8,2.1-1.8,3.5c0,1.4,0.7,2.7,1.8,3.5
	c1.2,0.9,2.3,1.3,4.7,1.3c1.8,0,3.5-0.6,4.9-1.8v1.6h1.5V9.5C143.2,8.3,142.9,7.2,142.1,6.3"
        />
        <path id="Shape-8" class="st0" d="M47.9,25.5v1.1h1v-2.9h-1v1.1h-1.7v-1.1h-1v2.9h1v-1.1L47.9,25.5z" />
        <path id="Shape-9" class="st0" d="M62.1,24.4h0.1v-0.7h-3.5v0.7H60v2.2h1v-2.2H62.1z" />
        <path id="Shape-10" class="st0" d="M66.2,25.4h1.9v-0.7h-1.9v-0.4h2v-0.7h-3.1v2.9h3.1v-0.7h-2L66.2,25.4L66.2,25.4z" />
        <path id="Shape-11" class="st0" d="M72.6,23.8v-0.1h-1.1v2.9h3v-0.7h-1.9L72.6,23.8z" />
        <path id="Shape-12" class="st0" d="M98.7,25.7l-1.5-2l0,0h-1.5v2.9h1v-0.1l0-1.8l1.5,2l0,0h1.5v-2.9h-1L98.7,25.7L98.7,25.7z" />
        <path id="Shape-13" class="st0" d="M122.9,25.4h1.9v-0.7h-1.9v-0.4h2v-0.7h-3.1v2.9h3.1v-0.7h-2.1L122.9,25.4z" />
        <path id="Shape-14" class="st0" d="M150.2,24.4h1.2v-0.7H148v0.7h1.2v2.3h1V24.4z" />
        <path
          id="Shape-15"
          class="st0"
          d="M137.3,25.5c0,0.4-0.1,0.4-0.9,0.4s-0.8-0.1-0.8-0.4v-0.7c0-0.3,0-0.4,0.8-0.4
	c0.3,0,0.5,0,0.8,0.1c0.1,0.1,0.1,0.2,0.1,0.3V25.5z M136.5,23.6c-1.3,0-1.8,0.1-1.8,1.1v0.7c0,1.1,0.7,1.1,1.8,1.1s1.9-0.1,1.9-1.1
	v-0.7C138.3,23.7,137.6,23.6,136.5,23.6z"
        />
        <path
          id="Shape-16"
          class="st0"
          d="M143.5,25h-0.9v-0.6h1c0.5,0,0.5,0,0.5,0.3S144,25,143.5,25 M144.8,25.4L144.8,25.4
	c0.3-0.1,0.4-0.4,0.3-0.7c0-0.7-0.5-0.9-1.4-0.9h-2.2v2.9h1v-0.9h1.1c0.4,0,0.4,0.2,0.4,0.3v0.6h1V26
	C145.1,25.7,145,25.5,144.8,25.4"
        />
        <path
          id="Shape-17"
          class="st0"
          d="M117,25h-0.9v-0.6h1c0.6,0,0.6,0,0.6,0.3S117.6,25,117,25L117,25z M118.3,25.4L118.3,25.4
	c0.3-0.1,0.4-0.4,0.3-0.7c0-0.7-0.5-0.9-1.4-0.9H115v2.9h1v-0.9h1.1c0.4,0,0.4,0.2,0.4,0.3v0.6h1V26
	C118.7,25.7,118.5,25.5,118.3,25.4L118.3,25.4z M105.8,25.4c0,0.3-0.2,0.5-0.4,0.5c0,0,0,0,0,0H104v-1.5h1c0.6,0,0.7,0.1,0.7,0.4
	L105.8,25.4L105.8,25.4z M105.1,23.7H103v2.9h2.2c1.1,0,1.6-0.4,1.6-1.1v-0.7C106.8,23.8,105.9,23.7,105.1,23.7L105.1,23.7z"
        />
        <path
          id="Shape-18"
          class="st0"
          d="M90.1,25.4l0.5-1l0.5,1H90.1z M92.6,26.4l-1.4-2.7l0-0.1h-1.3l0,0.1l-1.4,2.7l-0.1,0.2h1.1l0-0.1
	l0.2-0.4h1.6l0.2,0.4l0,0.1h1.1L92.6,26.4z"
        />
        <path
          id="Shape-19"
          class="st0"
          d="M54.9,25.5c0,0.4-0.1,0.4-0.9,0.4s-0.8-0.1-0.8-0.4v-0.7c0-0.3,0-0.4,0.8-0.4
	c0.3,0,0.5,0,0.8,0.1c0.1,0.1,0.1,0.2,0.1,0.3V25.5z M54.1,23.6c-1.3,0-1.8,0.1-1.8,1.1v0.7c0,1.1,0.7,1.1,1.8,1.1s1.9-0.1,1.9-1.1
	v-0.7C55.9,23.7,55.2,23.6,54.1,23.6z"
        />
        <path
          id="Shape-20"
          class="st0"
          d="M80.8,24.4c0-0.9-0.9-0.8-1.7-0.8c-1,0-1.8,0-1.8,0.9s0.8,0.9,1.6,0.9h0.4c0.5,0,0.6,0,0.6,0.3
	s0,0.3-0.7,0.3c-0.8,0-0.8-0.1-0.8-0.3h-1c0,0.2,0.1,0.4,0.2,0.5c0.3,0.3,0.9,0.3,1.6,0.3h0.1c0.8,0,1.7,0,1.7-1
	c0-0.8-0.7-0.8-1.7-0.9c-0.8,0-0.9,0-0.9-0.3s0.1-0.3,0.8-0.3c0.6,0,0.6,0.1,0.6,0.2L80.8,24.4L80.8,24.4z"
        />
        <path
          id="Shape-21"
          class="st0"
          d="M131.5,24.4c0-0.9-0.9-0.8-1.7-0.8c-0.9,0-1.8,0-1.8,0.9s0.8,0.9,1.6,0.9h0.4
	c0.5,0,0.6,0,0.6,0.3s0,0.3-0.7,0.3c-0.8,0-0.8-0.1-0.8-0.3h-1c0,0.2,0.1,0.4,0.2,0.5c0.3,0.3,0.9,0.3,1.6,0.3h0.1
	c0.8,0,1.7,0,1.7-1c0-0.8-0.7-0.8-1.7-0.9c-0.8,0-0.9,0-0.9-0.3s0.1-0.3,0.8-0.3c0.6,0,0.6,0.1,0.6,0.2L131.5,24.4L131.5,24.4z"
        />
        <path
          id="Shape-22"
          class="st0"
          d="M157.8,24.4c0-0.9-0.9-0.8-1.7-0.8c-1,0-1.8,0-1.8,0.9s0.8,0.9,1.6,0.9h0.4c0.5,0,0.6,0,0.6,0.3
	s0,0.3-0.7,0.3c-0.8,0-0.8-0.1-0.8-0.3h-1c0,0.2,0.1,0.4,0.2,0.5c0.3,0.3,0.9,0.3,1.6,0.3h0.1c0.8,0,1.7,0,1.7-1
	c0-0.8-0.7-0.8-1.7-0.9c-0.8,0-0.9,0-0.9-0.3s0.1-0.3,0.8-0.3c0.6,0,0.6,0.1,0.6,0.2L157.8,24.4L157.8,24.4z"
        />
        <path id="Shape-23" class="st0" d="M22.7,22.6l-1-1L17.2,26C19.3,25.3,21.2,24.1,22.7,22.6" />
        <path id="Shape-24" class="st0" d="M19.4,19.1l-7.4,7.4c0.4,0,0.8,0.1,1.3,0.1c0.4,0,0.7,0,1.1,0l6.2-6.2L19.4,19.1z" />
        <path id="Shape-25" class="st0" d="M17,16.7l-8.9,8.8c0.6,0.2,1.2,0.4,1.8,0.6l8.3-8.2L17,16.7z" />
        <path id="Shape-26" class="st0" d="M14.6,14.4l-9.5,9.4c0.4,0.3,0.9,0.7,1.4,1l9.3-9.2L14.6,14.4z" />
        <path id="Shape-27" class="st0" d="M12.2,12l-9.5,9.4c0.3,0.4,0.7,0.9,1.1,1.3l9.6-9.5L12.2,12z" />
        <path id="Shape-28" class="st0" d="M9.9,9.6L1,18.4C1.2,19,1.5,19.5,1.8,20l9.3-9.2L9.9,9.6z" />
        <path id="Shape-29" class="st0" d="M7.5,7.2l-7.5,7.4c0.1,0.7,0.2,1.3,0.4,2l8.3-8.3L7.5,7.2z" />
        <path id="Shape-30" class="st0" d="M5.2,4.8L0.6,9.4c-0.3,0.9-0.5,1.9-0.6,2.9L6.3,6L5.2,4.8z" />
        <path id="Shape-31" class="st0" d="M21.7,21.5l4.1-4.1c0.3-1,0.5-2,0.6-3l-5.9,5.9L21.7,21.5z" />
        <path id="Shape-32" class="st0" d="M19.4,19.1l7.1-7.1c-0.1-0.7-0.2-1.4-0.3-2l-7.9,7.9L19.4,19.1z" />
        <path id="Shape-33" class="st0" d="M17,16.7l8.5-8.5c-0.2-0.5-0.5-1.1-0.8-1.6l-8.9,8.9L17,16.7z" />
        <path id="Shape-34" class="st0" d="M14.6,14.4l9.2-9.1c-0.3-0.5-0.7-0.9-1.1-1.3l-9.3,9.2L14.6,14.4z" />
        <path id="Shape-35" class="st0" d="M12.3,12l9.2-9.1c-0.4-0.4-0.9-0.7-1.4-1l-9,8.9L12.3,12z" />
        <path id="Shape-36" class="st0" d="M9.9,9.6l8.6-8.5c-0.6-0.2-1.2-0.5-1.8-0.6l-8,7.9L9.9,9.6z" />
        <path id="Shape-37" class="st0" d="M7.5,7.2l7.2-7.1c-0.5,0-1-0.1-1.4-0.1h-0.9l-6,6L7.5,7.2z" />
        <path id="Shape-38" class="st0" d="M9.5,0.6C7.4,1.1,5.6,2.2,4,3.7l1.1,1.1L9.5,0.6z" />
      </svg>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
/* Styles */
.welcomeHero {
  width: 100%;
  height: 250px;
  background: url(~/static/images/hotel/hero.jpg) center center no-repeat;
  background-size: cover;
  box-shadow: 1000px 1000px inset rgba(0, 0, 0, 0.3);
  color: var(--colour-light);
}
.welcomeHero svg {
  width: 80%;
}
</style>
