<template>
  <div class="page page-bg-light">
    <page-header>
      <template #default>{{ transport.title }}</template>
    </page-header>
    <HeroImageCarousel
      v-if="!!transport.gallery"
      :path="transport.path"
      :images="transport.gallery"
    />
    <img
      v-else
      :src="require(`~/static/images` + `${transport.path}/${transport.image}`)"
      :alt="transport.alt"
      class="profileHero"
    />

    <b-tabs justified class="profileTabNav" align="center">
      <b-tab title="Information" active>
        <div class="container">
          <div v-if="transport.openingHoursTitle" class="profileInfoWrapper mt-3">
            <h5>{{ transport.openingHoursTitle }}</h5>
            <p class="mt-3">{{ transport.openingHoursDetails }}</p>
            <p>{{ transport.openingHoursDetailsTwo }}</p>
          </div>
          <div v-if="transport.offerTitle" class="profileOfferWrapper">
            <h4>{{ transport.offerTitle }}</h4>
            <div class="profileInfoSubText">{{ transport.offerDescription }}</div>
          </div>
          <div v-if="transport.deliveryOptionTitle" class="profileInfoWrapper">
            {{ transport.deliveryOptionTitle }}
            <div class="row">
              <div class="col-12">
                <div class="profileInfoSubHeading">{{ transport.deliveryfee }}</div>
                <div class="profileInfoSubText">{{ transport.deliveryDisclaimer }}</div>
              </div>
            </div>
          </div>
          <nuxt-content :document="transport" />
        </div>
      </b-tab>
      <b-tab title="Contact" class="bg-white">
        <div class="container pt-3 bp-3">
          <div v-if="transport.addressTitle" class="profileInfoWrapper mt-3">
            <h5>{{ transport.addressTitle }}</h5>
            <p class="mt-3">{{ transport.addressDesc }}</p>
            <p>{{ transport.addressDescTwo }}</p>
          </div>
          <a v-if="transport.phone" :href="`tel:${transport.phone}`">
            <div class="ctaBtn">
              <b-icon-phone></b-icon-phone>CALL NOW
            </div>
          </a>
          <a v-if="transport.bookurl" :href="transport.bookurl" class="ctaBtn" target="_blank">
            <b-icon-book></b-icon-book>BOOK NOW
          </a>
          <a v-if="transport.website" :href="transport.website" class="ctaBtn" target="_blank">
            <div class="ctaBtn">
              <b-icon-globe></b-icon-globe>WEBSITE
            </div>
          </a>
          <a
            v-if="transport.email"
            :href="'mailto:' + transport.email"
            class="ctaBtn"
            target="_blank"
          >
            <div class="ctaBtn">
              <b-icon-envelope></b-icon-envelope>EMAIL US
            </div>
          </a>
          <div class="row mt-3">
            <div class="col-12 d-flex flex-row justify-content-around">
              <div class="col-4">
                <a v-if="transport.facebook" :href="transport.facebook" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-facebook></b-icon-facebook>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="transport.instagram" :href="transport.instagram" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-instagram></b-icon-instagram>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="transport.twitter" :href="transport.twitter" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-twitter></b-icon-twitter>
                  </div>
                </a>
              </div>
            </div>
            <!-- <pre>{{transport}}</pre> -->
          </div>
        </div>
      </b-tab>
    </b-tabs>

    <!-- <pre>{{ transport }}</pre> -->
  </div>
</template>

<script>
import PageHeader from '~/components/page-header.vue'
export default {
  components: { PageHeader },
  async asyncData({ $content, params }) {
    const transport = await $content('transports', params.slug).fetch()

    return { transport }
  },
  head() {
    return {
      title: this.transport.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.transport.description,
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.profileHero {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.profileInfoWrapper,
.profileOfferWrapper {
  padding: var(--space-md);
  border: 1px solid #fffffe;
  box-shadow: 0 0 12px var(--colour-grey-light);
  margin: var(--space-md) 0;
}
.profileInfoWrapper {
  background: var(--colour-light);
}
.profileOfferWrapper {
  background: var(--colour-grey);
  color: var(--colour-light);
}
.profileInfoWrapper h5,
.profileOfferWrapper h5 {
  text-transform: uppercase;
}
.nuxt-content-container {
  padding: var(--space-md);
  background: var(--colour-light);
  margin: var(--space-md) 0;
}
.ctaBtn {
  width: 100%;
  padding: var(--space-md) 0;
  text-align: center;
  background: var(--colour-primary);
  color: var(--colour-light);
  margin: var(--space-md) 0;
}
.ctaBtn svg {
  margin-right: var(--space-md);
}
</style>
