<template>
  <div class="page page-bg-dark">
    <page-header />
    <div class="container">
      <loyalty-hero />
      <div class="row ml-0 mr-0 mb-2 mt-2 bg-light">
        <div class="col-12 p-3">
          One card gives you exclusive benefits across 20 countries, 1,000 hotels and over 1,400 restaurants in Asia Pacific. Discover all your
          benefits at a glance.
        </div>
      </div>
      <div class="row ml-0 mr-0 mb-2 mt-2 bg-light">
        <div class="col-4 pb-3 d-flex flex-column justify-content-center align-items-center">
          <img src="@/static/images/icons/accor-logo.svg" alt class="programIcon" />
          <div class="programTitle">Traveller</div>
          <div class="programPrice">N/A</div>
          <a
            href="https://all.accor.com/authentication/index.en.shtml#/register?context=enroll-loyalty"
            class="joinNow"
          >JOIN NOW</a>
        </div>
        <div class="col-4 pb-3 d-flex flex-column justify-content-center align-items-center">
          <img src="@/static/images/icons/accor-logo.svg" alt class="programIcon" />
          <div class="programTitle">Explorer</div>
          <div class="programPrice">$399 per year</div>
          <a href="https://www.accorplus.com/au/registration/" class="joinNow">JOIN NOW</a>
        </div>
        <div class="col-4 pb-3 d-flex flex-column justify-content-center align-items-center">
          <img src="@/static/images/icons/accor-logo.svg" alt class="programIcon" />
          <div class="programTitle">Discovery</div>
          <div class="programPrice">$498 per year</div>
          <a href="https://www.accorplus.com/au/registration/" class="joinNow">JOIN NOW</a>
        </div>
      </div>
      <div v-for="loyalty in loyalty" :key="loyalty.slug">
        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button
              block
              href="#"
              v-b-toggle="'accordion-' + loyalty.id"
              collapsed
              variant="none"
              class="accordionTitle"
            >
              <div class="row">
                <div class="col-10">{{ loyalty.title }}</div>
                <div class="col-2">
                  <span class="when-opened">
                    <b-icon icon="dash-circle-fill" style="fill: #050033; margin-right: 20px"></b-icon>
                  </span>
                  <span class="when-closed">
                    <b-icon icon="plus-circle-fill" style="fill: #050033; margin-right: 20px"></b-icon>
                  </span>
                </div>
              </div>
            </b-button>
            <div class="row">
              <div class="col-4 d-flex justify-content-center align-items-center leftProgamIcon">
                <img
                  :src="require('@/static/images/icons/' + loyalty.first)"
                  alt
                  class="loyaltyIcon"
                />
              </div>
              <div class="col-4 d-flex justify-content-center align-items-center">
                <img
                  :src="require('@/static/images/icons/' + loyalty.second)"
                  alt
                  class="loyaltyIcon"
                />
              </div>
              <div class="col-4 d-flex justify-content-center align-items-center rightProgamIcon">
                <img
                  :src="require('@/static/images/icons/' + loyalty.third)"
                  alt
                  class="loyaltyIcon"
                />
              </div>
            </div>
          </b-card-header>
          <b-collapse
            :id="'accordion-' + loyalty.id"
            visible
            accordion="my-accordion"
            role="tabpanel"
          >
            <b-card-body>
              <b-card-text>
                <nuxt-content :document="loyalty"></nuxt-content>
              </b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
      <div class="row m-0 pt-3 pb-3 bg-light">
        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
          <a
            href="https://all.accor.com/authentication/index.en.shtml#/register?context=enroll-loyalty"
            class="joinNow"
          >JOIN NOW</a>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
          <a href="https://www.accorplus.com/au/registration/" class="joinNow">JOIN NOW</a>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
          <a href="https://www.accorplus.com/au/registration/" class="joinNow">JOIN NOW</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import loyaltyHero from '~/components/loyalty-hero.vue'
import pageHeader from '~/components/page-header.vue'

export default {
  components: { pageHeader, loyaltyHero },
  async asyncData({ $content, params }) {
    const loyalty = await $content('loyaltys', params.slug).sortBy('id').fetch()

    return { loyalty }
  },
  head() {
    return {
      title: 'Accor Loyalty Programs',
      meta: [
        {
          name: 'description',
          content: 'Accor Loyalty Programs',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.b-card,
.card {
  border-radius: 0;
}
.programIcon {
  width: 30px;
  margin-top: 30px;
}
.leftProgamIcon {
  border-right: 1px solid var(--colour-grey);
}
.rightProgamIcon {
  border-left: 1px solid var(--colour-grey);
}
.programTitle {
  font-weight: 900;
}
.programPrice {
  color: var(--colour-grey);
}
.joinNow {
  background: var(--colour-primary);
  color: var(--colour-light);
  padding: var(--space-sm);
}
.accordionTitle {
  padding: var(--space-md);
  text-transform: uppercase;
}
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none;
}
.loyaltyIcon {
  width: 20px;
  height: 20px;
  background: var(--colour-light);
  border-radius: 50%;
}
.loyaltyIcon svg {
  width: 60%;
  height: 60%;
  fill: var(--colour-grey-dark);
}
#bv-modal-example img {
  width: 100%;
}
.collapsed > .row > .col-2 > .when-opened,
:not(.collapsed) > .row > .col-2 > .when-closed {
  display: none;
}
</style>
