<template>
  <div class="page page-bg-dark">
    <page-header />
    <div class="container">
      <loyalty-hero />

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-1 variant="none">accordion 1</b-button>
          <div class="row">
            <div class="col-4">
              <div class="positiveIcon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-4">
              <div class="positiveIcon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-4">
              <div class="negativeIcon d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </b-card-header>
        <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>accordion 1 text</b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <a href="#" class="button-primary" @click="$bvModal.show('bv-modal-example')">Join Now</a>
    </div>
    <b-modal id="bv-modal-example" centered hide-footer>
      <template #modal-title>Accor Plus</template>
      <img src="@/static/images/hotel/explore.jpg" alt="Pullman Bunker Bay Resort" />
      <p class="mt-3">
        For security reasons, our loyalty program is maintained on another server. This link will open in its own tab. To return to this page, please
        return to this tab
      </p>
      <b-button
        class="button-primary mt-3"
        block
        href="https://www.accorplus.com/au/registration/"
      >Join Now</b-button>
    </b-modal>
  </div>
</template>

<script>
import loyaltyHero from '~/components/loyalty-hero.vue'
import pageHeader from '~/components/page-header.vue'

export default {
  components: { pageHeader, loyaltyHero },
  head() {
    return {
      title: 'Accor Loyalty',
      meta: [
        {
          name: 'description',
          content: 'Accor Loyalty',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.offerWrapper {
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: var(--space-md);
  color: var(--colour-light);
  background: var(--colour-grey-dark);
  border-radius: 4px;
}
.offerWrapper p {
  text-align: center;
}
.loyaltyIcon {
  width: 60px;
  height: 60px;
  background: var(--colour-light);
  border-radius: 50%;
}
.loyaltyIcon svg {
  width: 60%;
  height: 60%;
  fill: var(--colour-grey-dark);
}
#bv-modal-example img {
  width: 100%;
}
.positiveIcon {
  background-image: url(@/static/images/icons/check.svg);
}
.negativeIcon {
  background-image: url(@/static/images/icons/times.svg);
}
.positiveIcon,
.negativeIcon {
  height: 30px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
</style>
