<template>
  <div class="page page-bg-dark">
    <page-header />
    <div class="container">
      <compendium-hero-image class="mb-3" />

      <!-- <div v-for="(inroomItem, index) of inroomItems" :key="inroomItem.slug" class="rounded-0" role="tablist">
        <b-card no-body class="rounded-0 lh-0">
          <b-card-header class="rounded-0 p-0 lh-0" role="tab">
            <b-button squared="true" block v-b-toggle="'accordion-' + index" class="button-primary-half">{{ inroomItem.title }}</b-button>
          </b-card-header>
          <b-collapse :id="'accordion-' + index" visible accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <nuxt-content :document="{ body: inroomItem.body }" />
            </b-card-body>
          </b-collapse>
        </b-card>
      </div> -->

      <!-- <div>
        <div v-for="inroomItem in inroomItems" :key="inroomItem.title">
          <base-accordion>
            <template v-slot:title>{{ inroomItem.title }}</template>

            <template v-slot:content>
              <div><nuxt-content :document="{ body: inroomItem.body }" /></div>
            </template>
          </base-accordion>
        </div>
      </div> -->

      <very-simple-accordion v-for="inroomItem of inroomItems" :key="inroomItem.slug">
        <template v-slot:title>{{ inroomItem.title }}</template>
        <template v-slot:content><nuxt-content :document="{ body: inroomItem.body }" /></template>
      </very-simple-accordion>

      <fixed-footer />
    </div>
  </div>
</template>

<script>
import CompendiumHeroImage from '~/components/compendium-hero-image.vue'
import FixedFooter from '~/components/fixed-footer.vue'
import pageHeader from '~/components/page-header.vue'
import VerySimpleAccordion from '~/components/very-simple-accordion.vue'
// import baseAccordion from '~/components/base-accordion.vue'
export default {
  components: { pageHeader, CompendiumHeroImage, FixedFooter, VerySimpleAccordion /* baseAccordion */ },
  async asyncData({ $content }) {
    const inroomItems = await $content('inroomItems').only(['title', 'description', 'body', 'slug']).sortBy('title', 'asc').fetch()

    return { inroomItems }
  },
  head() {
    return {
      link: [
        { rel: 'stylesheet', href: '/css/compendium-pages.css' },
        { rel: 'stylesheet', href: '/css/vue-simple-accordion.css' },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
</style>

static\css\vue-simple-accordion.css
