<template>
  <div class="page page-bg-light">
    <page-header />
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <nuxt-link to="/kidsActivities">
            <div class="categoryWrapper d-flex justify-content-between align-items-center">
              <img
                src="@/static/images/kids-activities.jpg"
                alt="transport iamge"
                class="catHeroImage"
              />
              <div class="categorytitle">Kids Activities</div>
              <div class="rightArrow d-flex justify-content-center align-items-center">
                <b-icon icon="chevron-right"></b-icon>
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="col-12">
          <nuxt-link to="/retails">
            <div class="categoryWrapper d-flex justify-content-between align-items-center">
              <img src="@/static/images/retail.jpg" alt="transport iamge" class="catHeroImage" />
              <div class="categorytitle">Retail</div>
              <div class="rightArrow d-flex justify-content-center align-items-center">
                <b-icon icon="chevron-right"></b-icon>
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="col-12">
          <nuxt-link to="/transports">
            <div class="categoryWrapper d-flex justify-content-between align-items-center">
              <img src="@/static/images/transfer.jpg" alt="transport iamge" class="catHeroImage" />
              <div class="categorytitle">Transport</div>
              <div class="rightArrow d-flex justify-content-center align-items-center">
                <b-icon icon="chevron-right"></b-icon>
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="col-12">
          <nuxt-link to="/wineries">
            <div class="categoryWrapper d-flex justify-content-between align-items-center">
              <img src="@/static/images/wineries.jpg" alt="transport iamge" class="catHeroImage" />
              <div class="categorytitle">Wineries</div>
              <div class="rightArrow d-flex justify-content-center align-items-center">
                <b-icon icon="chevron-right"></b-icon>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageHeader from '~/components/page-header.vue'
export default {
  components: { pageHeader },
  head() {
    return {
      title: 'Explore',
      meta: [
        {
          name: 'description',
          content: 'Explore',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.categoryWrapper {
  width: 100%;
  height: 10vh;
  background: var(--colour-light);
  box-shadow: 0 0 12px var(--colour-grey);
  margin-bottom: var(--space-md);
}
.catHeroImage {
  width: 35%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.rightArrow {
  width: 15%;
  height: 100%;
  color: var(--colour-grey-dark);
}
</style>
