<template>
  <div class="page page-bg-dark">
    <page-header />
    <div class="container">
      <compendium-hero-image class="mb-3" />
      <div v-for="facility of facilities" :key="facility.slug">
        <details>
          <summary class="accordionButton">{{ facility.title }}</summary>
          <nuxt-content
            style="background: var(--colour-light);padding: var(--space-md);font-size: 0.9em;"
            :document="{ body: facility.body }"
          />
        </details>
      </div>
    </div>
    <fixed-footer />
  </div>
</template>

<script>
import CompendiumHeroImage from '~/components/compendium-hero-image.vue'
import pageHeader from '~/components/page-header.vue'
export default {
  components: { pageHeader, CompendiumHeroImage },
  async asyncData({ $content }) {
    const facilities = await $content('facilities').only(['title', 'description', 'body', 'slug']).sortBy('title', 'asc').fetch()

    return { facilities }
  },
  head() {
    return {
      link: [{ rel: 'stylesheet', href: '/css/compendium-pages.css' }],
      title: 'Hotel Facilities',
      meta: [
        {
          name: 'description',
          content: 'Hotel Facilities',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
</style>