<template>
  <div class="page page-bg-dark">
    <page-header />
    <div class="container">
      <compendium-hero-image class="mb-3" />
      <div v-for="inroomItem of inroomItems" :key="inroomItem.slug">
        <details>
          <summary class="accordionButton">{{ inroomItem.title }}</summary>
          <nuxt-content
            style="background: var(--colour-light);padding: var(--space-md);font-size: 0.9em;"
            :document="{ body: inroomItem.body }"
          />
        </details>
      </div>
    </div>
    <fixed-footer />
  </div>
</template>

<script>
import CompendiumHeroImage from '~/components/compendium-hero-image.vue'
import FixedFooter from '~/components/fixed-footer.vue'
import pageHeader from '~/components/page-header.vue'
export default {
  components: { pageHeader, CompendiumHeroImage, FixedFooter },
  async asyncData({ $content }) {
    const inroomItems = await $content('inroomItems').only(['title', 'description', 'body', 'slug']).sortBy('title', 'asc').fetch()

    return { inroomItems }
  },
  head() {
    return {
      link: [{ rel: 'stylesheet', href: '/css/compendium-pages.css' }],
      title: 'In-Room Information',
      meta: [
        {
          name: 'description',
          content: 'In-Room Information',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
</style>