<template>
  <div class="page">
    <index-header />
    <b-container>
      <b-row>
        <b-col cols="12">
          <nuxt-link to="/compendium">
            <div
              class="compBtn font-main d-flex justify-content-center align-items-center"
            >Hotel Compendium</div>
          </nuxt-link>
        </b-col>
      </b-row>

      <b-row no-gutters>
        <b-col cols="6" class="pr-2">
          <nuxt-link to="/welcome">
            <div class="welcome font-main d-flex justify-content-center align-items-center">Welcome</div>
          </nuxt-link>
        </b-col>
        <b-col cols="6" class="pl-2">
          <nuxt-link to="/map">
            <div
              class="welcome font-main d-flex justify-content-center align-items-center"
            >Resort Map</div>
          </nuxt-link>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <nuxt-link to="/accor-loyalty-programs">
            <div
              class="accorBtn font-main d-flex justify-content-center align-items-center"
            >Join Accor Loyalty Programs</div>
          </nuxt-link>
        </b-col>
      </b-row>

      <b-row no-gutters>
        <b-col cols="6" class="mt-3 pr-2">
          <nuxt-link v-b-modal.modal-1 to="/">
            <div
              class="indexNavBtn font-main topleft d-flex justify-content-center align-items-center"
            >Villa Catering</div>
          </nuxt-link>
        </b-col>

        <b-col cols="6" class="mt-3 pl-2">
          <nuxt-link to="/otherSideOfTheMoon">
            <div
              class="indexNavBtn font-main topright d-flex justify-content-center align-items-center"
            >Other Side of the Moon Restaurant and Bar</div>
          </nuxt-link>
        </b-col>
      </b-row>

      <b-row no-gutters>
        <b-col cols="6" class="mt-3 pr-2">
          <nuxt-link to="/explore">
            <div
              class="indexNavBtn font-main bottomleft d-flex justify-content-center align-items-center"
            >Explore</div>
          </nuxt-link>
        </b-col>
        <b-col cols="6" class="mt-3 pl-2">
          <nuxt-link to="/vie-spa">
            <div
              class="indexNavBtn font-main bottomright d-flex justify-content-center align-items-center"
            >Vie Spa</div>
          </nuxt-link>
        </b-col>
      </b-row>
    </b-container>
    <b-modal id="modal-1" centered hide-footer title="Resort Food and Beverages">
      <div class="modalHero"></div>
      <div class="row">
        <div class="col-12">
          <a href="https://pullmanbunkerbay.orderup.com.au/" class="button-primary">Order Now</a>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import indexHeader from '~/components/index-header.vue'
export default {
  components: { indexHeader },
}
</script>

<style>
.compBtn,
.welcome {
  width: 100%;
  height: 16vh;
  margin: var(--space-md) 0 0 0;
  font-size: 1.3em;
  color: var(--colour-light);
  font-weight: 900;
  text-shadow: 0 0 6px #000;
}
.compBtn {
  background: url(~/static/images/hotel/hero.jpg) center center no-repeat;
  background-size: cover;
  box-shadow: 1000px 1000px inset rgba(0, 0, 0, 0.3);
}
.welcome {
  background: var(--colour-primary);
}
.accorBtn {
  width: 100%;
  height: 5vh;
  color: var(--colour-light);
  background: var(--colour-dark);
  margin: var(--space-md) 0 0 0;
  font-family: var(--font-secondary);
  font-weight: 900;
  text-shadow: 0 0 6px #000;
}
.indexNavBtn {
  width: 100%;
  height: 13vh;
  font-family: var(--font-primary);
  text-align: center;
  color: var(--colour-light);
  font-weight: 900;
  text-shadow: 0 0 6px #000;
  padding: var(--space-md);
}
.topleft {
  background: url(~/static/images/hotel/inroomdining.jpg) center center no-repeat;
}
.topright {
  background: url(~/static/images/hotel/fandb.jpg) center center no-repeat;
}
.bottomright {
  background: url(~/static/images/hotel/spa.jpg) center center no-repeat;
}
.bottomleft {
  background: url(~/static/images/hotel/explore.jpg) center center no-repeat;
}

.topleft,
.topright,
.bottomleft,
.bottomright {
  background-size: cover;
  box-shadow: 1000px 1000px inset rgba(0, 0, 0, 0.3);
}
.modalHero {
  width: 100%;
  height: 250px;
  background: url('@/static/images/hotel/order.jpg') center center no-repeat;
  background-size: cover;
}
</style>
