<template>
  <div>
    <page-header>
      <template>Kids Activities</template>
    </page-header>
    <div v-for="kidsActivity of kidsActivities" :key="kidsActivity.slug" class="container mt-3">
      <nuxt-link :to="{ name: 'kidsActivity-slug', params: { slug: kidsActivity.slug } }">
        <div class="listCard d-flex flex-column justify-content-center align-items-center">
          <img
            :src="require(`~/static/images` + `${kidsActivity.path}/${kidsActivity.image}`)"
            :alt="kidsActivity.alt"
            class="listImage"
          />
          <div class="listTitle mt-3">{{ kidsActivity.title }}</div>
          <p class="listDesc">{{ kidsActivity.snippet }}</p>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $content }) {
    const kidsActivities = await $content('kidsActivities').only(['title', 'image', 'snippet', 'slug', 'path']).sortBy('id', 'asc').fetch()

    return { kidsActivities }
  },
  head() {
    return {
      title: 'Kids Activities',
      meta: [
        {
          name: 'description',
          content: 'Kids Activities',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.listCard {
  height: auto;
  list-style: none;
  margin-bottom: var(--space-md);
  background: var(--colour-secondary);
  border: 3px solid var(--colour-light);
  border-radius: 4px;
  box-shadow: 0 0 12px var(--colour-grey);
  color: var(--colour-primary);
}
.listCard img {
  width: 100%;
  height: 150px;
  display: block;
  border-radius: 4px;
  object-fit: cover;
  object-position: center center;
}
.listTitle {
  width: 90%;
  font-size: 1.2em;
  color: var(--colour-grey-dark);
  text-transform: uppercase;
  text-align: center;
}
.listDesc {
  font-size: 0.8em;
  font-style: italic;
  color: var(--colour-grey);
}
</style>
