<template>
  <div class="page page-bg-dark">
    <page-header />
    <div class="container">
      <compendium-hero-image class="mb-3" />
      <div v-for="localFacility of localFacilities" :key="localFacility.slug">
        <details>
          <summary class="accordionButton">{{ localFacility.title }}</summary>
          <nuxt-content
            style="background: var(--colour-light);padding: var(--space-md);font-size: 0.9em;"
            :document="{ body: localFacility.body }"
          />
        </details>
      </div>
    </div>
    <fixed-footer />
  </div>
</template>

<script>
import CompendiumHeroImage from '~/components/compendium-hero-image.vue'
import pageHeader from '~/components/page-header.vue'
export default {
  components: { pageHeader, CompendiumHeroImage },
  async asyncData({ $content }) {
    const localFacilities = await $content('localFacilities').only(['title', 'description', 'body', 'slug']).sortBy('title', 'asc').fetch()

    return { localFacilities }
  },
  head() {
    return {
      link: [{ rel: 'stylesheet', href: '/css/compendium-pages.css' }],
      title: 'Local Facilities',
      meta: [
        {
          name: 'description',
          content: 'Local Facilities',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
</style>