<template>
  <div class="mapPage">
    <page-header />
    <b-row class="m-0 p-0">
      <b-col class="m-0 p-0">
        <resort-map class="mapImage" />
      </b-col>
    </b-row>
    <div class="container">
      <h3>Key Locations</h3>
      <div class="legend">
        <ol class="custom-counter">
          <li>Reception</li>
          <li>Restaurant</li>
          <li>Lounge Bar</li>
          <li>Sugarloaf</li>
          <li>Upper Garden</li>
          <li>The Snug</li>
          <li>Windmills I</li>
          <li>Windmills II</li>
          <li>Restaurant Terrace</li>
          <li>Toilets</li>
          <li>Pool Bar</li>
          <li>Conference Foyer</li>
          <li>Swimming Pool</li>
          <li>BBQ</li>
          <li>BBQ</li>
          <li>Tennis Court</li>
          <li>Vie Spa</li>
          <li>Car Park</li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
import pageHeader from '~/components/page-header.vue'
import ResortMap from '~/components/resort-map.vue'
export default {
  components: { pageHeader, ResortMap },
}
</script>

<style scoped>
/* Styles */
h3 {
  color: var(--colour-primary);
  padding: var(--space-sm) 0;
}
.mapPage {
  width: 100vw;
  height: 100vh;
  overflow: none;
}
.mapImage {
  width: 100vw;
  height: 70vh;
  overflow: scroll;
  position: relative;
}
.custom-counter {
  margin: 0;
  padding: var(--space-md) 0;
  list-style-type: none;
  column-count: 2;
  column-gap: 20px;
  font-size: 0.8em;
}
.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 5px;
}
.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 20px;
  font-size: 80%;
  background-color: var(--colour-primary);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 11px;
}
</style>