<template>
  <div class="page page-bg-light" id="top">
    <page-header />
    <div class="container">
      <hero-image />
      <a href="#openhours" class="button-primary-half">OPENING HOURS & RESERVATIONS</a>
      <a href="#rituals" class="button-primary-half">Rituals</a>
      <a href="#facials" class="button-primary-half">Facials</a>
      <a href="#massage" class="button-primary-half">Massage</a>
      <a href="#bodyh20" class="button-primary-half">Body & h20</a>
      <a href="#addons" class="button-primary-half">Add-on's</a>
      <a href="#blissfulenhancers" class="button-primary-half">Blissful Enhancers</a>
      <a href="#handfoot" class="button-primary-half">Hand & Foot</a>
      <a href="#viespafaq" class="button-primary-half">Vie spa faq</a>

      <!-- <div id="openhours" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">Title</h4>
          <span class="deets">2hrs / $330</span>
          <p>description</p>
        </div>
      </div>-->
      <div id="openhours" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">OPENING HOURS & RESERVATIONS</h4>
          <p>Open from 10am - 5pm daily, advance bookings are strongly recommended.</p>
          <p>Please call +61 8 9756 9160 or email viespa.bunkerbay@accor.com for enquiries or to book your treatment.</p>
          <p>
            Visit the web site to place an online booking pullmanbunkerbayresort.com.au or find us on Facebook for our current specials and
            promotions.
          </p>
        </div>
      </div>
      <back-to-top />
      <div class="section-hero rituals-hero"></div>
      <div id="rituals" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">OCEANIC BODY & MIND BALANCE</h4>
          <span class="deets">120mins | $310</span>
          <p>De-stress the mind, balance the body and restore energy and hydration in this soothing head to toe signature rejuvenation ritual.</p>
          <p>
            Focusing on mood lifting benefits using essential oils to promote a feeling of wellbeing, this calming treatment will leave you feeling
            relaxed and hydrated.
          </p>
          <ul>
            <li>Australian jojoba & orange full body scrub</li>
            <li>Relaxing aromatherapy full body massage</li>
            <li>Wellbeing radiance facial</li>
            <li>Soothing foot treatment</li>
          </ul>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">FOREST REVIVAL</h4>
          <span class="deets">120mins | $310</span>
          <p>
            Breathe new life into your body and soul and enjoy a fresh start with this uplifting ritual. A sea salt scrub reveals radiant skin while
            preparing the body and relaxing the mind to fully enjoy the benefits of full body massage that focuses on releasing tension and leaves you
            as energised as a walk in the forest.
          </p>
          <ul>
            <li>Quandong deep conditioning scalp cocoon</li>
            <li>Australian lemon myrtle body scrub</li>
            <li>Reviving full body massage</li>
            <li>Foot restoration massage with cucumber mask</li>
          </ul>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">NATIVE WHITE FLANNEL FLOWER SANCTUARY</h4>
          <span class="deets">120 mins | $310</span>
          <p>
            Unwind and allow your body to receive the healing benefits of deep relaxation. Inspired by the beauty and healing properties of the
            Australian white flannel flower, this popular ritual is a complete head-to- toe degustation of iKOU treatments. Connect with the inner joy
            that lives within you, and restore a radiant all-over glow. From head to toe, unwind, breathe, relax.
          </p>
          <ul>
            <li>Organic coconut & jasmine body polish</li>
            <li>Australian white flannel floral hydrating cocoon</li>
            <li>Organic radiance facial</li>
            <li>Full body white flannel flower soufflé</li>
            <li>Foot restoration massage</li>
          </ul>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">EARTH DREAMING</h4>
          <span class="deets">90mins | $250</span>
          <p>Feel a sense of renewal for mind and body. This classic combination of body scrub and massage is customised to you.</p>
          <p>With a choice of two moods: Energise & renew or De-stress & calm</p>
          <ul>
            <li>Full body exfoliation</li>
            <li>Full body massage</li>
          </ul>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">CAPE NATURALISTE RENEWAL</h4>
          <span class="deets">90mins | $250</span>
          <p>
            Experience the feeling of a fresh start, let go of tension in areas of the body most affected by stress and immerge looking and feeling
            relaxed and vibrant. This ritual includes a deeply hydrating facial to restore your radiant glow.
          </p>
          <ul>
            <li>Neck, back and shoulder massage</li>
            <li>Back exfoliation</li>
            <li>Deep cell hydration facial</li>
          </ul>
        </div>
      </div>
      <back-to-top />
    </div>
    <fixed-footer />
  </div>
</template>

<script>
import BackToTop from '~/components/back-to-top.vue'
import FixedFooter from '~/components/fixed-footer.vue'
import HeroImage from '~/components/hero-image.vue'
import pageHeader from '~/components/page-header.vue'
export default {
  components: { pageHeader, FixedFooter, HeroImage, BackToTop },
}
</script>
, BackToTop

<style scoped>
/* Styles */
.deets {
  display: block;
  background: var(--colour-primary);
  text-align: right;
  color: var(--colour-light);
  padding: var(--space-sm);
  margin-bottom: var(--space-md);
}
.section-hero {
  width: 100%;
  height: 150px;
  margin-top: 15px;
}
.rituals-hero {
  background: url(~/static/images/spa/rituals.png) center bottom no-repeat;
  background-size: cover;
}
.card {
  scroll-margin: 12vh 0 0 0;
}
</style>
