<template>
  <div class="page page-bg-light">
    <div v-for="hotelRestBar in hotelRestBar" :key="hotelRestBar.slug">
      <page-header>
        <template #default>{{hotelRestBar.title}}</template>
      </page-header>
      <HeroImageCarousel
        v-if="!!hotelRestBar.gallery"
        :path="hotelRestBar.path"
        :images="hotelRestBar.gallery"
      />
      <img
        v-else
        :src="require(`~/static/images` + `${hotelRestBar.path}/${hotelRestBar.image}`)"
        :alt="hotelRestBar.alt"
        class="profileHero"
      />

      <b-tabs justified class="profileTabNav" align="center">
        <b-tab title="Information" active>
          <div class="container">
            <div v-if="hotelRestBar.openingHoursTitle" class="profileInfoWrapper mt-3">
              <h5>{{ hotelRestBar.openingHoursTitle }}</h5>
              <p class="mt-3">{{ hotelRestBar.openingHoursDetails }}</p>
              <p>{{ hotelRestBar.openingHoursDetailsTwo }}</p>
            </div>
            <div v-if="hotelRestBar.offerTitle" class="profileOfferWrapper">
              <h4>{{ hotelRestBar.offerTitle }}</h4>
              <div class="profileInfoSubText">{{ hotelRestBar.offerDescription }}</div>
            </div>
            <div v-if="hotelRestBar.deliveryOptionTitle" class="profileInfoWrapper">
              {{ hotelRestBar.deliveryOptionTitle }}
              <div class="row">
                <div class="col-12">
                  <div class="profileInfoSubHeading">{{ hotelRestBar.deliveryfee }}</div>
                  <div class="profileInfoSubText">{{ hotelRestBar.deliveryDisclaimer }}</div>
                </div>
              </div>
            </div>
            <nuxt-content :document="hotelRestBar" class="mt-3" />
          </div>
        </b-tab>
        <b-tab title="Contact" class="bg-white">
          <div class="container pt-3 bp-3">
            <div v-if="hotelRestBar.addressTitle" class="profileInfoWrapper mt-3">
              <h5>{{ hotelRestBar.addressTitle }}</h5>
              <p class="mt-3">{{ hotelRestBar.addressDesc }}</p>
              <p>{{ hotelRestBar.addressDescTwo }}</p>
            </div>
            <a v-if="hotelRestBar.pdfOne" v-b-modal.menuModal hide-footer centered>
              <div class="ctaBtn">
                <b-icon-file></b-icon-file>All Day Dining Menu
              </div>
            </a>
            <a v-if="hotelRestBar.pdfTwo" v-b-modal.drinksmenuModal hide-footer centered>
              <div class="ctaBtn">
                <b-icon-cup-straw></b-icon-cup-straw>Beverage List
              </div>
            </a>
            <a v-if="hotelRestBar.phone" :href="`tel:${hotelRestBar.phone}`">
              <div class="ctaBtn">
                <b-icon-phone></b-icon-phone>CALL NOW
              </div>
            </a>
            <a
              v-if="hotelRestBar.bookurl"
              :href="hotelRestBar.bookurl"
              class="ctaBtn"
              target="_blank"
            >
              <div class="ctaBtn">
                <b-icon-book></b-icon-book>BOOK NOW
              </div>
            </a>
            <a
              v-if="hotelRestBar.website"
              :href="hotelRestBar.website"
              class="ctaBtn"
              target="_blank"
            >
              <div class="ctaBtn">
                <b-icon-globe></b-icon-globe>WEBSITE
              </div>
            </a>
            <a
              v-if="hotelRestBar.email"
              :href="'mailto:' + hotelRestBar.email"
              class="ctaBtn"
              target="_blank"
            >
              <div class="ctaBtn">
                <b-icon-envelope></b-icon-envelope>EMAIL US
              </div>
            </a>
            <div class="row mt-3">
              <div class="col-12 d-flex flex-row justify-content-around">
                <div class="col-4">
                  <a v-if="hotelRestBar.facebook" :href="hotelRestBar.facebook" target="_blank">
                    <div class="socialsBtn">
                      <b-icon-facebook></b-icon-facebook>
                    </div>
                  </a>
                </div>

                <div class="col-4">
                  <a v-if="hotelRestBar.instagram" :href="hotelRestBar.instagram" target="_blank">
                    <div class="socialsBtn">
                      <b-icon-instagram></b-icon-instagram>
                    </div>
                  </a>
                </div>

                <div class="col-4">
                  <a v-if="hotelRestBar.twitter" :href="hotelRestBar.twitter" target="_blank">
                    <div class="socialsBtn">
                      <b-icon-twitter></b-icon-twitter>
                    </div>
                  </a>
                </div>
              </div>
              <!-- <pre>{{hotelRestBar}}</pre> -->
            </div>
          </div>
        </b-tab>
      </b-tabs>

      <b-modal
        id="menuModal"
        centered
        scrollable
        :title="hotelRestBar.pdfOneTitle + ' Menu'"
        hide-footer
      >
        <iframe :src="'/pdfs/' + hotelRestBar.pdfOne" class="fullscreen"></iframe>
      </b-modal>
      <b-modal
        id="drinksmenuModal"
        centered
        scrollable
        :title="hotelRestBar.pdfTwoTitle + ' Menu'"
        hide-footer
      >
        <iframe :src="'/pdfs/' + hotelRestBar.pdfTwo" class="fullscreen"></iframe>
      </b-modal>
    </div>
    <!-- <pre>{{ hotelRestBar }}</pre> -->
  </div>
</template>

<script>
import PageHeader from '~/components/page-header.vue'
export default {
  components: { PageHeader },
  async asyncData({ $content }) {
    const hotelRestBar = await $content('otherSideOfTheMoon').fetch()

    return { hotelRestBar }
  },
  head() {
    return {
      title: 'Other Side of the Moon',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Other Side of the Moon',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.profileHero {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.profileInfoWrapper,
.profileOfferWrapper {
  padding: var(--space-md);
  border: 1px solid #fffffe;
  box-shadow: 0 0 12px var(--colour-grey-light);
  margin: var(--space-md) 0;
}
.profileInfoWrapper {
  background: var(--colour-light);
}
.profileOfferWrapper {
  background: var(--colour-grey);
  color: var(--colour-light);
}
.profileInfoWrapper h5,
.profileOfferWrapper h5 {
  text-transform: uppercase;
}
.nuxt-content-container {
  padding: var(--space-md);
  background: var(--colour-light);
}
.ctaBtn {
  width: 100%;
  padding: var(--space-md) 0;
  text-align: center;
  background: var(--colour-primary);
  color: var(--colour-light);
  margin: var(--space-md) 0;
}
.ctaBtn svg {
  margin-right: var(--space-md);
}
.fullscreen {
  width: 100%;
  height: 100vh;
}
</style>