<template>
  <div id="top" class="page page-bg-light">
    <page-header />
    <div class="container">
      <hero-image />
      <a
        href="#"
        v-scroll-to="'#openhours'"
        class="button-primary-half"
      >OPENING HOURS & RESERVATIONS</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#rituals',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Rituals</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#facials',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Facials</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#massages',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Massage</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#bodyh20',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Body & h20</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#addons',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Add-on's</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#blissfulenhancers',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Blissful Enhancers</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#handfoot',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Hand & Foot</a>
      <a
        href="#"
        v-scroll-to="{
          el: '#viespafaq',
          duration: 800,
          easing: 'linear',
          offset: -90,
        }"
        class="button-primary-half"
      >Vie spa faq</a>

      <div class="card infoBox">
        <div class="card-body">
          <h4 class="font-main">Welcome</h4>
          <p>Escape to a tranquil place, a place where your wellness is nurtured to harmonise your inner self...Escape to Vie Spa.</p>
          <p>From the moment you enter our sanctuary you will feel a wave of calm wash over you.</p>
          <p>
            Inspired by the pristine, natural beauty of the Wardandi Aboriginal land and ocean surrounding us, we are proud to offer you a bespoke
            collection of iKOU Spa Rituals. Organic and Australian-made, using indigenous ingredients, iKOU is a sensory experience... a journey for
            body and mind to transform you to a feeling of deep relaxation and bliss.
          </p>
        </div>
      </div>
      <div class="card infoBox">
        <div class="card-body">
          <h4 id="openhours" class="font-main">Opening Hours and Reservations</h4>
          <p>Open from 10am - 5pm daily, advance bookings are strongly recommended.</p>
          <p>Please call +61 8 9756 9160 or email viespa.bunkerbay@accor.com for enquiries or to book your treatment.</p>
          <p>
            Visit the web site to place an online booking pullmanbunkerbayresort.com.au or find us on Facebook for our current specials and
            promotions.
          </p>
        </div>
      </div>

      <h2 id="rituals" class="spaMenuTitle font-main">Rituals</h2>
      <div v-for="ritual of rituals" :key="ritual.slug" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">{{ ritual.title }}</h4>
          <span class="deets">{{ ritual.details }}</span>
          <nuxt-content :document="ritual" />
        </div>
      </div>
      <!-- <pre> {{ rituals }} </pre> -->

      <back-to-top />

      <h2 id="facials" class="spaMenuTitle font-main">Facials</h2>
      <div v-for="facial of facials" id="facials" :key="facial.slug" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">{{ facial.title }}</h4>
          <span class="deets">{{ facial.details }}</span>
          <nuxt-content :document="facial" />
        </div>
      </div>
      <!-- <pre> {{ massages }} </pre> -->

      <back-to-top />

      <h2 id="massages" class="spaMenuTitle font-main">Massages</h2>
      <div v-for="massage of massages" id="massages" :key="massage.slug" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">{{ massage.title }}</h4>
          <span class="deets">{{ massage.details }}</span>
          <nuxt-content :document="massage" />
        </div>
      </div>
      <!-- <pre> {{ massages }} </pre> -->

      <back-to-top />

      <h2 id="bodyh20" class="spaMenuTitle font-main">Body H20</h2>
      <div v-for="bodyh20 of bodyh20s" id="bodyh20s" :key="bodyh20.slug" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">{{ bodyh20.title }}</h4>
          <span class="deets">{{ bodyh20.details }}</span>
          <nuxt-content :document="bodyh20" />
        </div>
      </div>
      <!-- <pre> {{ massages }} </pre> -->

      <back-to-top />

      <h2 id="addon" class="spaMenuTitle font-main">Add Ons</h2>
      <div v-for="addon of addons" id="addons" :key="addon.slug" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">{{ addon.title }}</h4>
          <span class="deets">{{ addon.details }}</span>
          <nuxt-content :document="addon" />
        </div>
      </div>
      <!-- <pre> {{ massages }} </pre> -->

      <back-to-top />

      <h2 id="blissfulenhancers" class="spaMenuTitle font-main">Blissfull Enhancer</h2>
      <div
        v-for="blissfulenhancer of blissfulenhancers"
        id="blissfulenhancers"
        :key="blissfulenhancer.slug"
        class="card mt-3"
      >
        <div class="card-body">
          <h4 class="font-main">{{ blissfulenhancer.title }}</h4>
          <span class="deets">{{ blissfulenhancer.details }}</span>
          <nuxt-content :document="blissfulenhancer" />
        </div>
      </div>
      <!-- <pre> {{ massages }} </pre> -->

      <back-to-top />

      <h2 id="handfoot" class="spaMenuTitle font-main">Hand and Foot</h2>
      <div v-for="handfoot of handfoots" id="handfoots" :key="handfoot.slug" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">{{ handfoot.title }}</h4>
          <span class="deets">{{ handfoot.details }}</span>
          <nuxt-content :document="handfoot" />
        </div>
      </div>
      <!-- <pre> {{ massages }} </pre> -->

      <back-to-top />

      <h2 id="viespafaq" class="spaMenuTitle font-main">Vie Spa FAQ's</h2>
      <div v-for="viespafaq of viespafaqs" id="viespafaqs" :key="viespafaq.slug" class="card mt-3">
        <div class="card-body">
          <h4 class="font-main">{{ viespafaq.title }}</h4>
          <nuxt-content :document="viespafaq" />
        </div>
      </div>
      <!-- <pre> {{ massages }} </pre> -->

      <back-to-top />
    </div>
  </div>
</template>

<script>
import backToTop from '~/components/back-to-top.vue'
export default {
  components: { backToTop },

  async asyncData({ $content, params }) {
    const rituals = await $content('spaMenu', 'rituals', params.slug).sortBy('id', 'asc').fetch()
    const facials = await $content('spaMenu', 'facials', params.slug).sortBy('id', 'asc').fetch()
    const massages = await $content('spaMenu', 'massages', params.slug).sortBy('id', 'asc').fetch()
    const bodyh20s = await $content('spaMenu', 'bodyH20', params.slug).sortBy('id', 'asc').fetch()
    const addons = await $content('spaMenu', 'add-ons', params.slug).sortBy('id', 'asc').fetch()
    const blissfulenhancers = await $content('spaMenu', 'add-ons', params.slug).sortBy('id', 'asc').fetch()
    const handfoots = await $content('spaMenu', 'hand-foot', params.slug).sortBy('id', 'asc').fetch()
    const viespafaqs = await $content('spaMenu', 'vie-spa-faqs', params.slug).sortBy('id', 'asc').fetch()

    return { rituals, massages, facials, bodyh20s, addons, blissfulenhancers, handfoots, viespafaqs }
  },
  head() {
    return {
      title: 'Spa Menu',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Spa Menu',
        },
      ],
    }
  },
}
</script>

<style scoped>
.infoBox,
.spaMenuTitle {
  margin-top: var(--space-md);
}
.deets {
  display: block;
  background: var(--colour-primary);
  text-align: right;
  color: var(--colour-light);
  padding: var(--space-sm);
  margin-bottom: var(--space-md);
}
.section-hero {
  width: 100%;
  height: 150px;
  margin-top: var(--space-md);
}
.rituals-hero {
  background: url(~/static/images/spa/rituals.png) center bottom no-repeat;
  background-size: cover;
}
.card,
.card-body {
  scroll-margin: 12vh 0 0 0;
}
</style>
