<template>
  <div class="page page-bg-dark">
    <page-header />
    <div class="container">
      <hero-image />
      <div class="row mt-3 ml-0 mr-0">
        <div class="col-4 p-2">
          <a href="tel:+61 8 9756 9160">
            <div class="button-primary rounded flex-column">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M476.5 22.9L382.3 1.2c-21.6-5-43.6 6.2-52.3 26.6l-43.5 101.5c-8 18.6-2.6 40.6 13.1 53.4l40 32.7C311 267.8 267.8 311 215.4 339.5l-32.7-40c-12.8-15.7-34.8-21.1-53.4-13.1L27.7 329.9c-20.4 8.7-31.5 30.7-26.6 52.3l21.7 94.2c4.8 20.9 23.2 35.5 44.6 35.5C312.3 512 512 313.7 512 67.5c0-21.4-14.6-39.8-35.5-44.6zM69.3 464l-20.9-90.7 98.2-42.1 55.7 68.1c98.8-46.4 150.6-98 197-197l-68.1-55.7 42.1-98.2L464 69.3C463 286.9 286.9 463 69.3 464z"
                />
              </svg>Call
            </div>
          </a>
        </div>
        <div class="col-4 p-2">
          <a href="mailto:viespa.bunkerbay@accor.com">
            <div class="button-primary rounded flex-column">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"
                />
              </svg>Email
            </div>
          </a>
        </div>
        <div class="col-4 p-2">
          <nuxt-link to="/spa-menu">
            <div class="button-primary rounded flex-column">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M128 152v-32c0-4.4 3.6-8 8-8h208c4.4 0 8 3.6 8 8v32c0 4.4-3.6 8-8 8H136c-4.4 0-8-3.6-8-8zm8 88h208c4.4 0 8-3.6 8-8v-32c0-4.4-3.6-8-8-8H136c-4.4 0-8 3.6-8 8v32c0 4.4 3.6 8 8 8zm299.1 159.7c-4.2 13-4.2 51.6 0 64.6 7.3 1.4 12.9 7.9 12.9 15.7v16c0 8.8-7.2 16-16 16H80c-44.2 0-80-35.8-80-80V80C0 35.8 35.8 0 80 0h352c8.8 0 16 7.2 16 16v368c0 7.8-5.5 14.2-12.9 15.7zm-41.1.3H80c-17.6 0-32 14.4-32 32 0 17.7 14.3 32 32 32h314c-2.7-17.3-2.7-46.7 0-64zm6-352H80c-17.7 0-32 14.3-32 32v278.7c9.8-4.3 20.6-6.7 32-6.7h320V48z"
                />
              </svg>Menu
            </div>
          </nuxt-link>
        </div>
      </div>
      <!--End Button row  -->
      <div class="copy-wrapper">
        <p
          class="font-main text-center text-uppercase font-weight-bold"
        >VIE SPA – AWARDED DAY SPA IN MARGARET RIVER REGION</p>
        <p>
          Escape to a tranquil place, a place where your wellness is nurtured to harmonise with your inner self, a place where care is personalised
          and life is celebrated. Escape to Vie Spa in Margaret River.
        </p>
        <p>
          Award-winning Vie Spa Bunker Bay in the Margaret River Region provides the ultimate in luxury experiences, designed to leave you relaxed,
          rejuvenated and your balance restored.
        </p>
        <p>
          Let us pamper you for an hour or a weekend at our beachfront spa resort, or enjoy a romantic shared experience with your partner in one of
          our beautifully appointed couple’s suites.
        </p>
        <p>
          Our Margaret River Spa will satisfy all your need for relax and rejuvenating. Vie Spa is your perfect option for a relaxing day in the
          Margaret River Region, in the spectacular environment of the Pullman Bunker Bay resort.
        </p>
      </div>
    </div>
    <fixed-footer />
  </div>
</template>

<script>
import FixedFooter from '~/components/fixed-footer.vue'
import heroImage from '~/components/hero-image.vue'
export default {
  components: { heroImage, FixedFooter },
  head() {
    return {
      title: 'Vie Spa',
      meta: [
        {
          name: 'description',
          content: 'Vie Spa - Margaret River',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.copy-wrapper {
  width: 100%;
  height: auto;
  padding: 15px;
  background: var(--colour-light);
  border-radius: 3px;
}
.button-primary {
  font-size: 1em;
}
.button-primary svg {
  width: 30px;
  height: 30px;
  fill: var(--colour-light);
  margin-bottom: var(--space-md);
}
</style>
