<template>
  <div class="page page-bg-light">
    <page-header />
    <div class="container">
      <welcome-hero />
      <div v-for="welcome in welcome" :key="welcome.id" class="infoWrapper mt-3 mb-3">
        <img v-if="welcome.image" :src="'images' + welcome.dir + '/' + welcome.image" alt />
        <h4 class="mt-3">{{ welcome.title }}</h4>
        <nuxt-content :document="welcome" />
        <nuxt-link
          v-if="welcome.link"
          :to="welcome.link"
          class="button-primary"
        >{{ welcome.linkTitle }}</nuxt-link>
        <a
          v-if="welcome.externalLink"
          :href="welcome.externalLink"
          class="button-primary"
        >{{ welcome.externalLinkTitle }}</a>
      </div>
      <!-- <pre>{{ welcome }}</pre> -->
    </div>
  </div>
</template>

<script>
import PageHeader from '~/components/page-header.vue'
import WelcomeHero from '~/components/welcome-hero.vue'
export default {
  components: { PageHeader, WelcomeHero },
  async asyncData({ $content }) {
    const welcome = await $content('welcomes').sortBy('id', 'asc').fetch()

    return {
      welcome,
    }
  },
  head() {
    return {
      title: 'Welcome',
      meta: [
        {
          name: 'description',
          content: 'Welcome',
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.infoWrapper {
  background: var(--colour-light);
  padding: var(--space-md);
}
.infoWrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.infoWrapper a,
.infoWrapper a:hover,
.infoWrapper a:active,
.infoWrapper a:visited {
  text-decoration: none;
  background: var(--colour-primary);
}
</style>
