<template>
  <div class="page page-bg-light">
    <page-header>
      <template #default>{{winery.title}}</template>
    </page-header>
    <HeroImageCarousel v-if="!!winery.gallery" :path="winery.path" :images="winery.gallery" />
    <img
      v-else
      :src="require(`~/static/images` + `${winery.path}/${winery.image}`)"
      :alt="winery.alt"
      class="profileHero"
    />

    <b-tabs justified class="profileTabNav" align="center">
      <b-tab title="Information" active>
        <div class="container">
          <div v-if="winery.openingHoursTitle" class="profileInfoWrapper mt-3">
            <h5>{{ winery.openingHoursTitle }}</h5>
            <p class="mt-3">{{ winery.openingHoursDetails }}</p>
            <p>{{ winery.openingHoursDetailsTwo }}</p>
          </div>
          <div v-if="winery.offerTitle" class="profileOfferWrapper">
            <h4>{{ winery.offerTitle }}</h4>
            <div class="profileInfoSubText">{{ winery.offerDescription }}</div>
          </div>
          <div v-if="winery.deliveryOptionTitle" class="profileInfoWrapper">
            {{ winery.deliveryOptionTitle }}
            <div class="row">
              <div class="col-12">
                <div class="profileInfoSubHeading">{{ winery.deliveryfee }}</div>
                <div class="profileInfoSubText">{{ winery.deliveryDisclaimer }}</div>
              </div>
            </div>
          </div>
          <nuxt-content :document="winery" class="mt-3" />
        </div>
      </b-tab>
      <b-tab title="Contact" class="bg-white">
        <div class="container pt-3 bp-3">
          <div v-if="winery.addressTitle" class="profileInfoWrapper mt-3">
            <h5>{{ winery.addressTitle }}</h5>
            <p class="mt-3">{{ winery.addressDesc }}</p>
            <p>{{ winery.addressDescTwo }}</p>
          </div>
          <a v-if="winery.phone" :href="`tel:${winery.phone}`">
            <div class="ctaBtn">
              <b-icon-phone></b-icon-phone>CALL NOW
            </div>
          </a>
          <a v-if="winery.bookurl" :href="winery.bookurl" class="ctaBtn" target="_blank">
            <div class="ctaBtn">
              <b-icon-book></b-icon-book>BOOK NOW
            </div>
          </a>
          <a v-if="winery.website" :href="winery.website" class="ctaBtn" target="_blank">
            <div class="ctaBtn">
              <b-icon-globe></b-icon-globe>WEBSITE
            </div>
          </a>
          <a v-if="winery.email" :href="'mailto:' + winery.email" class="ctaBtn" target="_blank">
            <div class="ctaBtn">
              <b-icon-envelope></b-icon-envelope>EMAIL US
            </div>
          </a>
          <div class="row mt-3">
            <div class="col-12 d-flex flex-row justify-content-around">
              <div class="col-4">
                <a v-if="winery.facebook" :href="winery.facebook" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-facebook></b-icon-facebook>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="winery.instagram" :href="winery.instagram" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-instagram></b-icon-instagram>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="winery.twitter" :href="winery.twitter" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-twitter></b-icon-twitter>
                  </div>
                </a>
              </div>
            </div>
            <!-- <pre>{{winery}}</pre> -->
          </div>
        </div>
      </b-tab>
    </b-tabs>

    <!-- <pre>{{ winery }}</pre> -->
  </div>
</template>

<script>
import PageHeader from '~/components/page-header.vue'
export default {
  components: { PageHeader },
  async asyncData({ $content, params }) {
    const winery = await $content('wineries', params.slug).fetch()

    return { winery }
  },
  head() {
    return {
      title: this.winery.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.winery.description,
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.profileHero {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.profileInfoWrapper,
.profileOfferWrapper {
  padding: var(--space-md);
  border: 1px solid #fffffe;
  box-shadow: 0 0 12px var(--colour-grey-light);
  margin: var(--space-md) 0;
}
.profileInfoWrapper {
  background: var(--colour-light);
}
.profileOfferWrapper {
  background: var(--colour-grey);
  color: var(--colour-light);
}
.profileInfoWrapper h5,
.profileOfferWrapper h5 {
  text-transform: uppercase;
}
.nuxt-content-container {
  padding: var(--space-md);
  background: var(--colour-light);
}
.ctaBtn {
  width: 100%;
  padding: var(--space-md) 0;
  text-align: center;
  background: var(--colour-primary);
  color: var(--colour-light);
  margin: var(--space-md) 0;
}
.ctaBtn svg {
  margin-right: var(--space-md);
}
</style>