<template>
  <div class="page page-bg-light">
    <page-header>
      <template>{{ retail.title }}</template>
    </page-header>
    <HeroImageCarousel v-if="!!retail.gallery" :path="retail.path" :images="retail.gallery" />
    <img
      v-else
      :src="require(`~/static/images` + `${retail.path}/${retail.image}`)"
      :alt="retail.alt"
      class="profileHero"
    />

    <b-tabs justified class="profileTabNav" align="center">
      <b-tab title="Information" active>
        <div class="container">
          <div v-if="retail.openingHoursTitle" class="profileInfoWrapper mt-3">
            <h5>{{ retail.openingHoursTitle }}</h5>
            <p class="mt-3">{{ retail.openingHoursDetails }}</p>
            <p>{{ retail.openingHoursDetailsTwo }}</p>
          </div>
          <div v-if="retail.offerTitle" class="profileOfferWrapper">
            <h4>{{ retail.offerTitle }}</h4>
            <div class="profileInfoSubText">{{ retail.offerDescription }}</div>
          </div>
          <div v-if="retail.deliveryOptionTitle" class="profileInfoWrapper">
            {{ retail.deliveryOptionTitle }}
            <div class="row">
              <div class="col-12">
                <div class="profileInfoSubHeading">{{ retail.deliveryfee }}</div>
                <div class="profileInfoSubText">{{ retail.deliveryDisclaimer }}</div>
              </div>
            </div>
          </div>
          <nuxt-content :document="retail" class="mt-3" />
        </div>
      </b-tab>
      <b-tab title="Contact" class="bg-white">
        <div class="container pt-3 bp-3">
          <div v-if="retail.addressTitle" class="profileInfoWrapper mt-3">
            <h5>{{ retail.addressTitle }}</h5>
            <p class="mt-3">{{ retail.addressDesc }}</p>
            <p>{{ retail.addressDescTwo }}</p>
          </div>
          <a v-if="retail.phone" :href="`tel:${retail.phone}`">
            <div class="ctaBtn">
              <b-icon-phone></b-icon-phone>CALL NOW
            </div>
          </a>
          <a v-if="retail.bookurl" :href="retail.bookurl" class="ctaBtn" target="_blank">
            <b-icon-book></b-icon-book>BOOK NOW
          </a>
          <a v-if="retail.website" :href="retail.website" class="ctaBtn" target="_blank">
            <div class="ctaBtn">
              <b-icon-globe></b-icon-globe>WEBSITE
            </div>
          </a>
          <a v-if="retail.email" :href="'mailto:' + retail.email" class="ctaBtn" target="_blank">
            <div class="ctaBtn">
              <b-icon-envelope></b-icon-envelope>EMAIL US
            </div>
          </a>
          <div class="row mt-3">
            <div class="col-12 d-flex flex-row justify-content-around">
              <div class="col-4">
                <a v-if="retail.facebook" :href="retail.facebook" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-facebook></b-icon-facebook>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="retail.instagram" :href="retail.instagram" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-instagram></b-icon-instagram>
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a v-if="retail.twitter" :href="retail.twitter" target="_blank">
                  <div class="socialsBtn">
                    <b-icon-twitter></b-icon-twitter>
                  </div>
                </a>
              </div>
            </div>
            <!-- <pre>{{retail}}</pre> -->
          </div>
        </div>
      </b-tab>
    </b-tabs>

    <!-- <pre>{{ retail }}</pre> -->
  </div>
</template>

<script>
import PageHeader from '~/components/page-header.vue'
export default {
  components: { PageHeader },
  async asyncData({ $content, params }) {
    const retail = await $content('retails', params.slug).fetch()

    return { retail }
  },
  head() {
    return {
      title: this.retail.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.retail.description,
        },
      ],
    }
  },
}
</script>

<style scoped>
/* Styles */
.profileHero {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.profileInfoWrapper,
.profileOfferWrapper {
  padding: var(--space-md);
  border: 1px solid #fffffe;
  box-shadow: 0 0 12px var(--colour-grey-light);
  margin: var(--space-md) 0;
}
.profileInfoWrapper {
  background: var(--colour-light);
}
.profileOfferWrapper {
  background: var(--colour-grey);
  color: var(--colour-light);
}
.profileInfoWrapper h5,
.profileOfferWrapper h5 {
  text-transform: uppercase;
}
.nuxt-content-container {
  padding: var(--space-md);
  background: var(--colour-light);
}
.ctaBtn {
  width: 100%;
  padding: var(--space-md) 0;
  text-align: center;
  background: var(--colour-primary);
  color: var(--colour-light);
  margin: var(--space-md) 0;
}
.ctaBtn svg {
  margin-right: var(--space-md);
}
</style>
